.odd {
  background-color: rgb(253, 243, 229);
  min-height: 75%;
}

.even {
  background-color: deepskyblue;
  min-height: 75%;
}

.backgroundPic {
  background-image: url("../images/hospital-ministry-top.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
